;;; SPDX-FileCopyrightText: 2025 Jomco B.V.
;;; SPDX-FileCopyrightText: 2025 Topsector Logistiek
;;;
;;; SPDX-License-Identifier: AGPL-3.0-or-later

{:deps  {buddy/buddy-core {:mvn/version "1.12.0-430"}
         nl.jomco/envopts {:mvn/version "0.0.7"}}
 :paths ["src"]}
