;;; SPDX-FileCopyrightText: 2025 Jomco B.V.
;;; SPDX-FileCopyrightText: 2025 Stichting Connekt
;;; SPDX-License-Identifier: AGPL-3.0-or-later

{:rules [{:match {:headers {"authorization" #join ["Basic " #b64 #join ["foo" ":" "bar"]]}}
          :interceptors [[dummy-with-args]
                         [request assoc
                          :scheme :http
                          :server-name "localhost"
                          :server-port 1234]
                         [request update :headers assoc "authorization"
                          #join ["Basic " #b64 "zoo:quux"]]
                         [response update :headers assoc "x-bdi-connector" "passed"]
                         [proxy (get request :uri)]]}

         {:match        {}
          :interceptors [[respond {:status  401
                                   :headers {"content-type" "text/plain"
                                             "www-authenticate" "Basic realm=\"secret\""}
                                   :body    "not allowed"}]]}]}
