;;; SPDX-FileCopyrightText: 2024 Jomco B.V.
;;; SPDX-FileCopyrightText: 2024 Topsector Logistiek
;;; SPDX-FileContributor: Joost Diepenmaat <joost@jomco.nl>
;;; SPDX-FileContributor: Remco van 't Veer <remco@jomco.nl>
;;;
;;; SPDX-License-Identifier: AGPL-3.0-or-later

{:deps  {org.bdinetwork/ishare-jwt                      {:git/url "https://github.com/Basic-Data-Infrastructure/clj-ishare-jwt"
                                                         :git/sha "977bb1f393a22d964819a0caf627b3d2840de086"}
         org.bdinetwork/service-provider-authentication {:git/url "https://github.com/Basic-Data-Infrastructure/service-provider-authentication"
                                                         :git/sha "68226fdb363c9998de5c3661cae27c25293f4e5c"}
         nl.jomco/with-resources                        {:git/sha "66a864a1dfb6c105a7ecc7c92d2a9e6cf0239e6b"
                                                         :git/url "https://git.sr.ht/~jomco/with-resources"}
         nl.jomco/openapi-v3-validator                  {:mvn/version "0.2.1"}
         clj-commons/clj-yaml                           {:mvn/version "1.0.27"}
         ring/ring-core                                 {:mvn/version "1.12.2"}
         ring/ring-json                                 {:mvn/version "0.5.1"}
         ring/ring-jetty-adapter                        {:mvn/version "1.12.2"}
         compojure/compojure                            {:mvn/version "1.7.1"}
         ch.qos.logback/logback-classic                 {:mvn/version "1.5.6"}
         nl.jomco/clj-http-status-codes                 {:mvn/version "0.1"}
         org.clojure/core.cache                         {:mvn/version "1.1.234"}
         org.clojure/tools.logging                      {:mvn/version "1.3.0"}
         nl.jomco/envopts                               {:mvn/version "0.0.4"}}
 :paths ["src" "classes" "resources"]


 :aliases
 {:dev      {:extra-paths ["test" "dev"]}
  :test     {:extra-deps {lambdaisland/kaocha          {:mvn/version "RELEASE"}
                          org.bdinetwork/ishare-client {:git/url "https://github.com/Basic-Data-Infrastructure/clj-ishare-client"
                                                        :git/sha "61c434ae1b642f2128880d32a3a8fceea095f137"}}
             :main-opts  ["-m" "kaocha.runner"]}
  :lint     {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
             :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}
  :uberjar  {:replace-deps  {uberdeps/uberdeps {:mvn/version "RELEASE"}}
             :replace-paths []
             :main-opts     ["-m" "uberdeps.uberjar"
                             "--main-class" "org.bdinetwork.association_register.main"]}
  :outdated {:replace-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts    ["-m" "antq.core"]}}}
