;;; SPDX-FileCopyrightText: 2024 Jomco B.V.
;;; SPDX-FileCopyrightText: 2024 Topsector Logistiek
;;; SPDX-FileContributor: Joost Diepenmaat <joost@jomco.nl>
;;; SPDX-FileContributor: Remco van 't Veer <remco@jomco.nl>
;;;
;;; SPDX-License-Identifier: AGPL-3.0-or-later

#kaocha/v1
{:tests [{:id         :clj-ishare-jwt
          :test-paths ["clj-ishare-jwt/test"]}
         {:id         :clj-ishare-client
          :test-paths ["clj-ishare-client/test"]}
         {:id         :clj-ring-middleware
          :test-paths ["clj-ring-middleware/test"]}
         {:id         :authorization-register
          :test-paths ["authorization-register/test"]}
         {:id         :authentication-service
          :test-paths ["authentication-service/test"]}
         {:id         :association-register
          :test-paths ["association-register/test"]}]}
