;;; SPDX-FileCopyrightText: 2025 Jomco B.V.
;;; SPDX-FileCopyrightText: 2025 Topsector Logistiek
;;;
;;; SPDX-License-Identifier: AGPL-3.0-or-later

{:deps  {buddy/buddy-core          {:mvn/version "1.12.0-430"}
         buddy/buddy-sign          {:mvn/version "3.6.1-359"}}
 :paths ["src"]}
