;;; SPDX-FileCopyrightText: 2024 Jomco B.V.
;;; SPDX-FileCopyrightText: 2024 Topsector Logistiek
;;; SPDX-FileContributor: Joost Diepenmaat <joost@jomco.nl>
;;; SPDX-FileContributor: Remco van 't Veer <remco@jomco.nl>
;;;
;;; SPDX-License-Identifier: AGPL-3.0-or-later

{:deps  {org.bdinetwork/clj-ishare-client {:local/root "../clj-ishare-client"}
         org.bdinetwork/clj-ishare-jwt    {:local/root "../clj-ishare-jwt"}
         nl.jomco/openapi-v3-validator    {:mvn/version "0.2.6"}
         nl.jomco/clj-http-status-codes   {:mvn/version "0.1"}
         clj-commons/clj-yaml             {:mvn/version "1.0.29"}
         org.clojure/core.cache           {:mvn/version "1.1.234"}
         org.clojure/tools.logging        {:mvn/version "1.3.0"}
         org.slf4j/slf4j-api              {:mvn/version "2.0.16"}}
 :paths ["src" "resources"]}
