# SPDX-FileCopyrightText: 2025 Jomco B.V.
# SPDX-FileCopyrightText: 2025 Stichting Connekt
# SPDX-FileContributor: Joost Diepenmaat <joost@jomco.nl>
# SPDX-License-Identifier: AGPL-3.0-or-later

/bdi-connector.jar
/classes/
/interceptors.md
/rules.edn
