;;; SPDX-FileCopyrightText: 2025 Jomco B.V.
;;; SPDX-FileCopyrightText: 2025 Topsector Logistiek
;;; SPDX-License-Identifier: AGPL-3.0-or-later
{:deps  {org.bdinetwork/authentication  {:local/root "../clj-authentication"}
         org.bdinetwork/service-commons {:local/root "../service-commons"}

         org.clojure/tools.logging      {:mvn/version "1.3.0"}
         ch.qos.logback/logback-classic {:mvn/version "1.5.18"}

         aleph/aleph                    {:mvn/version "0.8.3"}
         nl.jomco/clj-http-status-codes {:mvn/version "0.1"}

         nl.jomco/with-resources        {:mvn/version "0.1.2"}
         nl.jomco/envopts               {:mvn/version "0.0.6"}
         aero/aero                      {:mvn/version "1.1.6"}}
 :paths ["src" "resources"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "RELEASE"}
                       ring/ring           {:mvn/version "1.14.1"}}
         :main-opts   ["-m" "kaocha.runner"]}

  :package {:extra-paths ["classes"]}
  :uberjar {:replace-deps  {uberdeps/uberdeps {:mvn/version "RELEASE"}}
            :replace-paths []
            :main-opts     ["-m" "uberdeps.uberjar" "--aliases" "package"]}

  :run {:main-opts ["-m" "org.bdinetwork.connector.main"]}}}
